@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  :root {
    --site-header-height: 3.5rem;
    --site-footer-height: 0rem;
    --site-main-height: calc(100vh - var(--site-header-height) - var(--site-footer-height));
  }

  @media (min-width: 1024px) {
    :root {
      --site-footer-height: 3rem;
    }
  }

  * {
    @apply border-border;
    scrollbar-width: thin;
    scrollbar-color: hsla(var(--primary) / 0.75) transparent;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .code-container {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .code-container pre {
    padding-block: 0.75rem;
    padding-inline: 0.75rem;
    line-height: 1.25rem /* 20px */;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    font-size: 0.875rem /* 14px */;
    min-height: 100%;
    white-space: pre-wrap;
    word-break: break-all;
  }

  html .shiki,
  html .shiki span {
    background-color: transparent;
    color: var(--light);
    font-style: var(--light-font-style);
    font-weight: var(--light-font-weight);
    text-decoration: var(--light-text-decoration);
  }

  html.dark .shiki,
  html.dark .shiki span {
    background-color: transparent;
    color: var(--dark);
    font-style: var(--dark-font-style);
    font-weight: var(--dark-font-weight);
    text-decoration: var(--dark-text-decoration);
  }
}
